button {
  @include button($lightHeimaGreen);
}

.btn-yellow {
  @include button($lightHeimaYellow);
}

.btn-red {
  @include button($lightHeimaRed);
}

.btn-blue {
  @include button($lightHeimaBlue);
}

.btn-pill {
  border-radius: $pill;
}

.btn-group {
  display: flex;
  flex-flow: row wrap;
}

