.container {
  margin: $containerFluidNavOffset $containerSideMargin $containerSideMargin $containerSideMargin;
  max-width: $maxWidth;

  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}