.container {
  margin: $containerFluidNavOffset $containerSideMargin $containerSideMargin $containerSideMargin;
  max-width: $maxWidth;

  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 100%;

  @include desktop-up {
    margin-left: auto;
    margin-right: auto;
  }
}