.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  img {
    max-height: 400px;
    width: 100%;
    height: auto;
    margin: 5px;
    transition: 0.5s;
  }
  img:hover {
    transform: scale(1.1);
    }
}