@mixin button($color) {
  display: inline-block;
  width: 9rem;
  padding: 10px;
  background-color: $color;
  color: white;
  border-radius: $defaultButton;
  margin: .3rem;
  &:hover {
    cursor: pointer;
    background-color: lighten($color, 5%);
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 5px 5px 50px #888888;
  }
}