// Bounce up
@keyframes bounce-up{
  0% {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce-up{
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.bounce-up:hover {
  -webkit-animation: bounce-up 0.5s;
  animation: bounce-up 0.5s;
}

// Bounce Down
@keyframes bounce-down{
  0% {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce-down{
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.bounce-down:hover {
  -webkit-animation: bounce-down 0.5s;
  animation: bounce-down 0.5s;
}

// Bounce Right
@keyframes bounce-right{
  0% {
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes bounce-right{
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.bounce-right:hover {
  -webkit-animation: bounce-right 0.5s;
  animation: bounce-right 0.5s;
}

// Bounce Left
@keyframes bounce-left{
  0% {
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes bounce-left{
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.bounce-left:hover {
  -webkit-animation: bounce-left 0.5s;
  animation: bounce-left 0.5s;
}

// Bounce Up Right
@keyframes bounce-up-right{
  0% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes bounce-up-right{
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.bounce-up-right:hover {
  -webkit-animation: bounce-up-right 0.5s;
  animation: bounce-up-right 0.5s;
}

// Bounce Down Right
@keyframes bounce-down-right{
  0% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes bounce-down-right{
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.bounce-down-right:hover {
  -webkit-animation: bounce-down-right 0.5s;
  animation: bounce-down-right 0.5s;
}

// Bounce Up Left
@keyframes bounce-up-left{
  0% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes bounce-up-left{
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.bounce-up-left:hover {
  -webkit-animation: bounce-up-left 0.5s;
  animation: bounce-up-left 0.5s;
}

// Bounce Down Left
@keyframes bounce-down-left{
  0% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes bounce-down-left{
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.bounce-down-left:hover {
  -webkit-animation: bounce-down-left 0.5s;
  animation: bounce-down-left 0.5s;
}