
// Colors
$heimaGreen: #004d40;
$navTextColor: white;


//Components
$maxWidth: 1024px;

$navLogoMargin: 10px;
$containerFluidNavOffset: 85px;
$containerSideMargin: 5vw;

// Fonts
$font: 'Cabin', sans-serif;

// Typography
$baseLineHeight: 1.2;
$baseFontSize: 1rem;

$h1FontSize: $baseFontSize * 2.5;
$h2FontSize: $baseFontSize * 2;
$h3FontSize: $baseFontSize * 1.75;
$h4FontSize: $baseFontSize * 1.5;
$h5FontSize: $baseFontSize * 1.25;
$h6FontSize: $baseFontSize;







