
// Colors
$heimaGreen: #004d40;
$lightHeimaGreen: lighten($heimaGreen, 5%);
$heimaRed: #9C0012;
$lightHeimaRed: lighten($heimaRed, 5%);
$heimaYellow: #A36800;
$lightHeimaYellow: lighten($heimaYellow, 5%);
$heimaBlue: #0A306C;
$lightHeimaBlue: lighten($heimaBlue, 5%);
$navTextColor: white;
$lightGray: #efefef;


//Components
$maxWidth: 1200px;

$navLogoMargin: 10px;
$containerFluidNavOffset: 85px;
$containerSideMargin: 5vw;

// Fonts
$font: 'Cabin', sans-serif;

// Typography
$baseLineHeight: 1.2;
$baseFontSize: 1rem;

$smallFont: 0.75rem;

$h1FontSize: $baseFontSize * 2.5;
$h2FontSize: $baseFontSize * 2;
$h3FontSize: $baseFontSize * 1.75;
$h4FontSize: $baseFontSize * 1.5;
$h5FontSize: $baseFontSize * 1.25;
$h6FontSize: $baseFontSize;

// Buttons
$defaultButton: 5px;
$pill: 16px;
