// Wiggle

@keyframes wiggle{
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    tramsform: rotate(0deg);
  }
}

.wiggle:hover {
  animation: wiggle 1.5s infinite;
}